:root {
	--primary: rgba(37, 37, 37, 1.0);
	--secondary: rgb(216, 23, 216);
	--shades: rgba(238, 238, 238, 1.0);
}

.carousel-3d {
	padding: 20px;
	-webkit-perspective: 500px;
	perspective: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}

.carousel-3d>* {
	flex: 0 0 auto;
}

.carousel-3d figure {
	margin: 0;
	width: 50%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	transition: transform 0.5s, -webkit-transform 0.5s;
}

.carousel-3d figure img,
.carousel-3d figure div {
	width: 100%;
	box-sizing: border-box;
	padding: 0;
	background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
	background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
	background-image: linear-gradient(45deg, rgba(223, 190, 170, 1), rgba(255, 255, 255, .9) 45%, rgba(223, 190, 170, .5));
	background-repeat: no-repeat;
	box-shadow: rgba(15, 50, 3, 0.5) 10px 10px 10px -10px;
}

.carousel-3d figure div:not(:first-of-type),
.carousel-3d figure img:not(:first-of-type) {
	position: absolute;
	left: 0;
	top: 0;
}

.carousel-3d nav {
	display: flex;
	justify-content: center;
	margin: 20px 0 0;
}

.carousel-3d nav button {
	flex: 0 0 auto;
	margin: 0 5px;
	cursor: pointer;
	color: #337AB7;
	background:
		linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255, .0) 70%),
		linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, .3)),
		linear-gradient(to right, rgba(125, 125, 125, 1), rgba(255, 255, 255, .9) 45%, rgba(125, 125, 125, .5)),
		linear-gradient(to right, rgba(125, 125, 125, 1), rgba(255, 255, 255, .9) 45%, rgba(125, 125, 125, .5)),
		linear-gradient(to right, rgba(223, 190, 170, 1), rgba(255, 255, 255, .9) 45%, rgba(223, 190, 170, .5)),
		linear-gradient(to right, rgba(223, 190, 170, 1), rgba(255, 255, 255, .9) 45%, rgba(223, 190, 170, .5));
	background-repeat: no-repeat;
	background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
	background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
	box-shadow: rgba(0, 0, 0, .5) 3px 10px 10px -10px;
	outline: none;
	border-radius: 3px / 100%;
	border: none;
	/* background: #BFE2FF;
    border: 1px solid #337AB7; */
	padding: 5px 10px;
	font-weight: bold;
	transition: all .3s ease;
}

.carousel-3d nav button:hover {
	color: #FFF;
	background: #8bc0ee;
}

.nav {
	flex: 0 0 auto;
	margin: 0 5px;
	cursor: pointer;
	color: #337AB7;
	background:
		linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255, .0) 70%),
		linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, .3)),
		linear-gradient(to right, rgba(125, 125, 125, 1), rgba(255, 255, 255, .9) 45%, rgba(125, 125, 125, .5)),
		linear-gradient(to right, rgba(125, 125, 125, 1), rgba(255, 255, 255, .9) 45%, rgba(125, 125, 125, .5)),
		linear-gradient(to right, rgba(223, 190, 170, 1), rgba(255, 255, 255, .9) 45%, rgba(223, 190, 170, .5)),
		linear-gradient(to right, rgba(223, 190, 170, 1), rgba(255, 255, 255, .9) 45%, rgba(223, 190, 170, .5));
	background-repeat: no-repeat;
	background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
	background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
	box-shadow: rgba(0, 0, 0, .5) 3px 10px 10px -10px;
	outline: none;
	border-radius: 3px / 100%;
	border: none;
	/* background: #BFE2FF;
    border: 1px solid #337AB7; */
	padding: 5px 10px;
	font-weight: bold;
	transition: all .3s ease;
}

.nav:hover {
	color: #FFF;
	background: #8bc0ee;
}


body {
	min-height: 100vh;
	width: 100%;
	background: #161616;
	/* background-color: #edfaacb2;
    background-image: linear-gradient(315deg, #d6da83 0%, #82e5c3 74%); */
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-height: 100vh;
}

.carousel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	color: #fff;
	transform: translate(-50%, -50%);
	font-family: 'Source Code Pro', monospace;
	text-shadow: rgba(236, 228, 228, 0.5) 1px 1px, rgba(100, 100, 100, .3) 3px 7px 3px;

}

h1:hover {
	color: var(--secondary);
}

.one-btn {
	flex: 0 0 auto;
	margin: 0 5px;
	cursor: pointer;
	color: #337AB7;
	border-radius: 3px / 100%;
	background: #BFE2FF;
	border: 1px solid #337AB7;
	padding: 5px 10px;
	font-weight: bold;
	transition: all .3s ease;
	display: none;
}

.one {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* css card */

* {
	margin: 0;
	padding: 0;
}

section::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#DA22FF, #9733EE);
	clip-path: circle(30% at right 70%);
}

section::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#E55D87, #5FC3E4);
	clip-path: circle(20% at 10% 10%);
}

.container {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;
}

.container .card {
	position: relative;
	width: 350px;
	height: 400px;
	background: rgba(255, 255, 255, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.container .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.container .card:hover .content {
	transform: translateY(-20px);
}

.container .card .content .imgBx {
	position: relative;
	width: 300px;
	height: 200px;
	overflow: hidden;
	border-radius: 15px;
}

.container .card .content .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container .card .content .contentBx h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.container .card .content .contentBx h3 span {
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
}

.container .card .sci {
	position: absolute;
	bottom: 50px;
	display: flex;
}

.container .card .sci li {
	list-style: none;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
}

.container .card:hover .sci li {
	transform: translateY(0px);
	opacity: 1;
}

.container .card .sci li a {
	color: #fff;
	font-size: 20px;
}

.head {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	margin: 0;
	position: relative;
	top: 50px;
	color: #FFF;
	font-family: 'Source Code Pro', monospace;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;

}

.button9 {
	position: relative;
	display: inline-block;
	color: #777674;
	font-weight: bold;
	text-decoration: none;
	text-shadow: rgba(255, 255, 255, .5) 1px 1px, rgba(100, 100, 100, .3) 3px 7px 3px;
	user-select: none;
	padding: 1em 2em;
	outline: none;
	border-radius: 3px / 100%;
	background:
		linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255, .0) 70%),
		linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, .3)),
		linear-gradient(to right, rgba(125, 125, 125, 1), rgba(255, 255, 255, .9) 45%, rgba(125, 125, 125, .5)),
		linear-gradient(to right, rgba(125, 125, 125, 1), rgba(255, 255, 255, .9) 45%, rgba(125, 125, 125, .5)),
		linear-gradient(to right, rgba(223, 190, 170, 1), rgba(255, 255, 255, .9) 45%, rgba(223, 190, 170, .5)),
		linear-gradient(to right, rgba(223, 190, 170, 1), rgba(255, 255, 255, .9) 45%, rgba(223, 190, 170, .5));
	background-repeat: no-repeat;
	background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
	background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
	box-shadow: rgba(0, 0, 0, .5) 3px 10px 10px -10px;
	cursor: pointer;
}

.button9:hover {
	transition: .5s linear;
	background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
	color: var(--secondary);
	border: rgba(57, 9, 161, 0.5);
}

.button9:active {
	top: 1px;
}